[Desktop Entry]
Encoding=UTF-8
Name=WmTune
Comment=Tuner for Radio Cards
Comment[pl]=Tuner dla kart radiowych
Exec=wmtune
Terminal=false
Type=Application
Categories=Applet;
# vi: encoding=utf-8
